body {
  padding-top: 50px;
  text-align: center;
  background-color: red;
}

.my-class {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

.my-class:hover {
  background-color: #4caf50;
  color: white;
}

.card {
  position: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(235, 234, 234);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
}
